body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

  .search-label {
      font-weight: bold;
  }

.icon-cancelado{
    background: url(../../assets/images/icon-x.jpg) no-repeat;
    background-size: cover; 
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.selected-value{
    background-color: aqua;
    margin-bottom: 5px;
}

#select-value{
    margin-top: 10px;
}

#select-value-multiple{
    margin-top: 10px;
}